
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

header{
    background:#111;
    color:white;
    text-align:center;
    padding:30px;
}

nav{
    background:#00bcd4;
    padding:10px;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
}

nav ul li{
    margin:0 15px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    text-decoration:underline;
}

section{
    background:white;
    margin:20px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    color:#00bcd4;
    margin-bottom:10px;
}

ul, ol{
    margin-left:20px;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:15px;
}
